.container {
  padding: 0;
  width: 400px;
  margin-top: 20px;
  box-sizing: border-box;
}
.num {
  padding: 0;
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}
